{% extends 'proyecto/moditem.html' %}
{%block buscador%}

	<div style="text-align: right;width:450px">
		<li>
			<form class="form-inline"  action="{% url 'proyecto:buscar_mod_item' %}" method="GET" value="{{request.GET.q}}">
			<input type="text" class="form-control mr-sm-2" name="q" value="{{request.GET.q}}" placeholder="Buscar..."/>
			<input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" name="submit" value="Search"/>
			</form>
		</li>
	</div>


	
{%endblock%}

{%block content %}

	
	{% if submitbutton == 'Search' and request.GET.q != '' %}
		{% if results %}
		<h2 style="color:white">Resultados de la  busqueda  de " <b>{{ request.GET.q }}</b>"</h2>
		<br/><br/>
		
		
	
	
		<table class="table table-striped table-dark">
			<thead>
				
					<th  bgcolor="#FC8E0A">Codigo</th>
					<th  bgcolor="#FC8E0A">Version</th>
					<th  bgcolor="#FC8E0A">Estado</th>
					<th  bgcolor="#FC8E0A">Descripcion</th>
					<th  bgcolor="#FC8E0A">Dependencia</th>
					<th  bgcolor="#FC8E0A">Prioridad</th>
					<th  bgcolor="#FC8E0A">Fecha_ini</th>
					<th  bgcolor="#FC8E0A">Fecha_mod</th>
					<th  bgcolor="#FC8E0A">Observacion</th>
					<th  bgcolor="#FC8E0A">LB</th>
					<th  bgcolor="#FC8E0A">Proyecto</th>
					<th  bgcolor="#FC8E0A">UsuarioEncargado</th>
					<th bgcolor="#FC8E0A">Opciones</th>
					
			<tbody>
		
		

		{% for result in results %}

		<tr>
					<td>{{result.id_item}}</td>
					<td>{{result.version}}</td>
					<td>{{result.estado}}</td>
					<td>{{result.descripcion}}</td>
					<td>{{result.dependencia}}</td>
					<th>{{result.prioridad}}</th>
					<td>{{result.fecha_ini}}</td>
					<td>{{result.fecha_mod}}</td>
					<td>{{result.observacion}}</td>
					<td>{{result.linea_base}}</td>
					<td>{{result.proyecto}}</td>
					<td>{{result.user}}</td>
					<td>
						
						<center>
						
						<a class="btn btn-success" href="{% url 'proyecto:editar_item' result.id_item %}">Editar</a>
						<br></br>
						<a class="btn btn-danger" href="{% url 'proyecto:eliminar_item' result.id_item %}">Eliminar</a>
						</center>
						
					</td>
					
		</tr>
		

		{% endfor %}
		</tbody>
		</table>
		
		
		{% else %}
		
		<h2 style="color:white">No hay Resultados</h2>
		<br/><br/>
		{% endif %}
		{% endif %}
{%endblock%}