{%extends 'proyecto/indexlb.html'%}

{% block title%}
Registrar Linea Base
{% endblock %}



{% block header %}
	<h4> Cargar Nueva Linea Base</h4>
{% endblock %}


{% block content%}
<form method= "POST">
	{%csrf_token%}
	{%if error%}
		<h2>{{error}}</h2>
	{%else%}
	<br></br>
		<center>
		{{lb_form.as_p}}
		<div style="text-align: right;width:550px" >
			<div  class="btn-group">
			<button type="submit" class="btn btn-primary" style='width:250px'>Registrar</button>
			</div>
			
			<div  class="btn-group">
			<a type="submit" class="btn btn-secondary" style='width:250px' href="{% url 'proyecto:PrincipalLB'%}">Cancelar</a>
			</div>
		
			
		</div>
		</center>
		
	{%endif%}
	
</form>

{% endblock %}