{%extends 'proyecto/indexuser.html'%}

{% block title%}
Registrar Usuario
{% endblock %}



{% block header %}
	<h4> Registra los datos del Usuario</h4>
{% endblock %}


{% block content%}
<form method= "POST">
	{%csrf_token%}
	{%if error%}
		<h2>{{error}}</h2>
	{%else%}
	<div class='container'>
	<br></br>
		{{usuario_form.as_p}}
		<div style="text-align: right;width:550px" >
			<div  class="btn-group">
			<button type="submit" class="btn btn-primary" style='width:250px'>Registrar</button>
			</div>
			
			<div  class="btn-group">
			<a type="submit" class="btn btn-secondary" style='width:250px' href="{% url 'proyecto:PrincipalUsuario'%}">Cancelar</a>
			</div>
		
			
		</div>
		<br></br>
		</div>
		
	{%endif%}
	
</form>

{% endblock %}